/* ------------
    ANIMATIONS
   ------------ */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* ------
    BASE
   ------ */
:root {
  --color-primary-light: #dedede;
  --color-primary-green: #bfd200; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: inherit; }

/* --------
    HEADER
   -------- */
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../css/img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    color: var(--color-primary-light);
    animation: moveInTop .5s; }
    .header__nav__title {
      font-size: 3.5rem;
      font-weight: 300;
      letter-spacing: .1rem;
      transition: color .3s; }
      .header__nav__title:hover {
        color: white; }
    .header__nav__navigation {
      display: flex;
      font-weight: 300;
      text-transform: uppercase;
      list-style: none;
      font-size: 2rem; }
      .header__nav__navigation li:not(:last-child) {
        margin-right: 2.5rem; }
      .header__nav__navigation li {
        padding: 1rem;
        transition: all .3s; }
        .header__nav__navigation li:hover {
          color: var(--color-primary-green);
          transform: scale(1.2); }
  .header__hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-light);
    animation: moveInBottom 1.5s; }
    .header__hero__title {
      display: flex;
      align-items: center; }
      .header__hero__title__text {
        font-size: 15rem;
        font-weight: 300;
        text-transform: uppercase;
        transform: translateY(-6rem); }
      .header__hero__title__icon {
        fill: var(--color-primary-green);
        height: 13rem;
        margin-left: 2rem;
        transform: translateY(-6rem); }
    .header__hero__subtitle {
      margin: 1rem;
      font-size: 3rem;
      font-weight: 300;
      transform: translateY(-6rem); }

/* ----------
    FEATURES
   ---------- */
.feature {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 4rem; }
  .feature__picture {
    flex: 1;
    display: flex;
    align-items: center; }
    .feature__picture__image {
      width: 75%;
      border-radius: 500px;
      transition: all .4s; }
      .feature__picture__image:hover {
        transform: scale(0.96); }
  .feature__content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 5rem;
    transform: translateY(-3rem); }
    .feature__content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 85%; }
    .feature__content__title {
      font-size: 5rem;
      margin-bottom: 2.5rem; }
      .feature__content__title h2 {
        font-weight: 400; }
        .feature__content__title h2 span {
          color: var(--color-primary-green); }
    .feature__content__text {
      font-size: 1.8rem;
      line-height: 1.4; }

.picture-left {
  justify-content: flex-end; }
  .picture-left img {
    margin-right: 5rem;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.35); }
    .picture-left img:hover {
      box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5); }

.picture-right {
  justify-content: flex-start; }
  .picture-right img {
    margin-left: 5rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.35); }
    .picture-right img:hover {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); }

.content-left {
  justify-content: flex-end; }
  .content-left .feature__content-container {
    margin-right: 2rem; }

/* -----------
    SOLUTIONS
   ----------- */
.solutions {
  display: grid;
  padding: 6rem;
  grid-template-columns: 1fr 1fr; }
  .solutions__box {
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 7rem; }
    .solutions__box__icon {
      height: 8rem;
      width: 8rem;
      fill: var(--color-primary-green); }
    .solutions__box__title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.6rem; }
    .solutions__box__text {
      font-size: 1.8rem;
      text-align: center; }
    .solutions__box__link {
      font-size: 1.8rem;
      color: grey; }
