/* ---------------
    MEDIA QUERIES
   --------------- */
/* ------------
    ANIMATIONS
   ------------ */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* ------
    BASE
   ------ */
:root {
  --color-gainsboro: #dedede;
  --color-bitter-lemon: #bfd200;
  --color-davys-grey: #575761;
  --color-quick-silver: #A0A0A0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media (max-width: 64em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: inherit; }

/* --------
    HEADER
   -------- */
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../css/img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    color: var(--color-gainsboro);
    animation: moveInTop .5s; }
    .header__nav__title {
      font-size: 3.5rem;
      font-weight: 300;
      letter-spacing: .1rem;
      transition: color .3s; }
      .header__nav__title:hover {
        color: white; }
    .header__nav__navigation {
      display: flex;
      font-weight: 300;
      text-transform: uppercase;
      list-style: none;
      font-size: 2rem; }
      .header__nav__navigation li:not(:last-child) {
        margin-right: 2.5rem; }
      .header__nav__navigation li {
        padding: 1rem;
        transition: all .3s; }
        .header__nav__navigation li:hover {
          color: var(--color-bitter-lemon);
          transform: scale(1.2); }
  .header__hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-gainsboro);
    animation: moveInBottom 1.5s; }
    .header__hero__title {
      display: flex;
      align-items: center; }
      .header__hero__title__text {
        font-size: 15rem;
        font-weight: 300;
        text-transform: uppercase;
        transform: translateY(-6rem); }
      .header__hero__title__icon {
        fill: var(--color-bitter-lemon);
        height: 13rem;
        margin-left: 2rem;
        transform: translateY(-6rem); }
    .header__hero__subtitle {
      margin: 1rem;
      font-size: 3rem;
      font-weight: 300;
      transform: translateY(-6rem); }

/* ----------
    FEATURES
   ---------- */
.feature {
  display: flex;
  padding-top: 9rem;
  padding-bottom: 4rem; }
  .feature__picture {
    flex: 1;
    display: flex;
    align-items: center; }
    .feature__picture__image {
      width: 70%;
      border-radius: 500px;
      transition: all .4s; }
      .feature__picture__image:hover {
        transform: scale(0.96); }
  .feature__content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 5rem;
    transform: translateY(-3rem); }
    .feature__content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 85%; }
    .feature__content__title {
      font-size: 5rem;
      margin-bottom: 2.5rem;
      color: var(--color-davys-grey); }
      .feature__content__title h2 {
        font-weight: 400; }
        .feature__content__title h2 span {
          color: var(--color-bitter-lemon); }
    .feature__content__text {
      font-size: 1.8rem;
      line-height: 1.4; }

.picture-left {
  justify-content: flex-end; }
  .picture-left img {
    margin-right: 5rem;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.35); }
    .picture-left img:hover {
      box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5); }

.picture-right {
  justify-content: flex-start; }
  .picture-right img {
    margin-left: 5rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.35); }
    .picture-right img:hover {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); }

.content-left {
  justify-content: flex-end; }
  .content-left .feature__content-container {
    margin-right: 2rem; }

/* -----------
    SOLUTIONS
   ----------- */
.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 7rem;
  margin-bottom: 6rem; }
  .solutions__title {
    width: 100%;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-davys-grey);
    padding: 2rem;
    text-shadow: -15px 15px 20px rgba(0, 0, 0, 0.15); }
  .solutions__content {
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    padding: 7rem;
    padding-top: 6rem;
    grid-template-columns: 1fr 1fr 1fr; }
    .solutions__content__box {
      height: 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem 4rem;
      border-radius: 10px;
      transition: all .3s; }
      .solutions__content__box__icon {
        height: 8rem;
        width: 8rem;
        fill: var(--color-bitter-lemon);
        transition: all .3s; }
      .solutions__content__box__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: center; }
      .solutions__content__box__text {
        font-size: 1.7rem;
        text-align: center; }
      .solutions__content__box__link {
        font-size: 1.8rem;
        color: var(--color-quick-silver);
        transition: all .3s; }
        .solutions__content__box__link:hover {
          transform: scale(1.15);
          color: var(--color-bitter-lemon); }
      .solutions__content__box:hover {
        transform: translateY(-1rem);
        box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.15); }
      .solutions__content__box:hover .solutions__content__box__icon {
        fill: var(--color-gainsboro); }

/* -------
    QUOTE
   ------- */
.quote {
  height: 50rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 50%), url(/img/beach.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  color: white; }
  .quote__content {
    width: 50%;
    padding: 16rem 10rem 12rem 10rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    .quote__content::before {
      content: '\201C';
      position: absolute;
      top: 10.5rem;
      left: 8.5rem;
      font-size: 10rem; }
    .quote__content__text {
      font-size: 2rem;
      font-weight: 300;
      text-indent: 10%; }
    .quote__content__credit {
      margin-left: auto;
      margin-right: 4rem; }
      .quote__content__credit__name {
        font-size: 2.4rem;
        margin-bottom: .3rem; }
      .quote__content__credit__title {
        font-size: 1.8rem;
        font-weight: 300; }

/* ----------------
    CALL TO ACTION
   ---------------- */
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem; }
  .cta__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
    padding: 8rem;
    text-shadow: -15px 15px 20px rgba(0, 0, 0, 0.1); }
    .cta__content__title {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem; }
      .cta__content__title__text {
        font-size: 11rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--color-davys-grey); }
      .cta__content__title__icon {
        height: 10rem;
        fill: var(--color-bitter-lemon);
        margin-left: 2rem; }
    .cta__content hr {
      height: 2px;
      width: 75%;
      background-color: var(--color-quick-silver);
      border: none;
      transition: all .5s;
      box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.25); }
    .cta__content__subtitle {
      font-size: 3rem;
      font-weight: 400;
      color: var(--color-bitter-lemon);
      font-weight: 300;
      margin-top: 2.2rem;
      margin-bottom: 5.5rem;
      transition: all .5s; }
    .cta__content__navigation {
      width: 70vw;
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      text-transform: uppercase;
      list-style: none;
      font-size: 2.5rem;
      color: var(--color-quick-silver); }
      .cta__content__navigation li {
        padding: 1rem;
        transition: all .3s; }
        .cta__content__navigation li:hover {
          color: var(--color-bitter-lemon);
          transform: scale(1.15); }
    .cta__content:hover hr {
      width: 85%; }

/* --------
    FOOTER
   -------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  color: white;
  background-color: #333;
  font-weight: 300;
  padding: 4rem 0; }
  .footer__copy {
    font-size: 1.6rem;
    margin-bottom: 0rem; }
  .footer__credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: var(--color-quick-silver);
    font-size: 1.4rem; }
    .footer__credit__creation span {
      text-transform: uppercase;
      color: var(--color-bitter-lemon); }
